<!DOCTYPE html>
<html>
    <head>
        <title>PLUS ONE</title>
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/css/bootstrap.min.css">
        
<style>
* {
  box-sizing: border-box;
}

//

.container {
  display: flex;
  justify-content: center;
  align-items: center;
}


.first-column {
    width: 66%;
    padding: 0 10px 0 0;
    float: left;
}

.second-column {
    width: 33%;
    padding: 0 10px 0 0;
    float: right;
}

@media only screen and (max-width: 800px) {

   .first-column {
        width: 100%;
        padding-bottom: 10px;
        float: none;
    }

    .second-column {
        width: 100%;
        padding-bottom: 10px;
        float: none;
    }
    
}

/*footer { */
/*            width: 100%; */
/*            bottom: 0px; */
/*            background-color: #000; */
/*            color: #fff; */
/*            position: absolute; */
/*            padding-top:20px; */
/*            padding-bottom:50px; */
/*            text-align:center; */
/*            font-size:30px; */
/*            font-weight:bold; */
/*        } */



//

/* Create two equal columns that floats next to each other */
.column {
  float: left;
   width: 33%;
  padding: 10px;
  height: 300px; /* Should be removed. Only for demonstration */
}

/* Clear floats after the columns */
.row:after {
  content: "";
  display: table;
  clear: both;
}

#frontImage{
    padding-left : 50px;
    width : 500px;
}

.short-heading{
    font-size:50px;
    margin-left:60px;
    margin-top : 60px;
}

.landing-login{
    font-size:30px;
    margin-left:60px;
    margin-top : 80px;
    padding-left: 50px;
}

</style>

    </head>
    
    <body>
        
        <nav class="navbar navbar-default">
            <div class="container">
                <div class="navbar-header" >
                    <a href="#" class="navbar-brand">+ONE</a>
                </div>
                <ul class="nav navbar-nav">
                    <li><a href="#">Binod</a></li>
                    <li><a href="#">Binod</a></li>
                    <li><a href="#">Binod</a></li>
                </ul>
                <form class="form-inline my-2 my-lg-0 nav navbar-nav navbar-right">
                  <div style="margin-top:8px">
                      <input class="form-control mr-sm-2" type="search" placeholder="Search Companies" aria-label="Search">
                      <button class="btn btn-success my-2 my-sm-0" type="submit">Search</button>
                  </div>
                  
                </form>
             </div>
             
        </nav>
       