<%- include("partials/header") %>


   

    <div class = "container" style="margin-top:70px">
        
        <div class="jumbotron">
            
            <div classc="container-sm">
                 <h1 style="text-align:center">Remote First Hiring</h1>
                 <h3 style="text-align:center">
                         Build great teams end-to-end, fully remote and from anywhere in the world.
                     The HackerRank Developer Skills Platform creates a seamless experience that developers 
                     and hiring teams love every step of the way.
                 </h3>
            </div>
    
         </div>
        <div style="margin-top:100px">
            <span style="margin-left:100px">
                <button type="button" class="btn btn-success btn-lg">Create Test</button>
            </span>
            <span style="margin-left:200px">
                <button type="button" class="btn btn-success btn-lg">Manage Tests</button>
            </span>
            <span style="margin-left:200px">
                <button type="button" class="btn btn-success btn-lg">View Histoty</button>
            </span>
        </div>
    </div>

<%- include("partials/footer") %>