<%- include("partials/header") %>
    
    <div class="container">
        <h1>You can create test here!</h1>
             <div class="container">
                <form action="/createtest" method="POST">
                   
                        <div>
                            <input type="text" name="name" placeholder="Name of Test">
                        </div>
                
                        <div>
                            <button type="submit">Add</button>
                        </div>
                   
                </form>
             </div>
    </div>
    
<%- include("partials/footer") %>