<%- include("partials/header") %>
    
    <div class="container">
        <h1>You can create test here!</h1>
            <form action="/createtest" method="POST">
                <div>
                    <input type="text" name="question" placeholder="Question">
                </div>
                <div>
                    <input type="text" name="option1" placeholder="Option 1">
                </div>
                <div>
                    <input type="text" name="option2" placeholder="Option 2">
                </div>
                <div>
                    <input type="text" name="option3" placeholder="Option 3">
                </div>
                <div>
                    <input type="text" name="option4" placeholder="Option 4">
                </div>
                <div>
                    <button type="submit">Add</button>
                </div>
            </form>
    </div>

    <div class="container">
        <h1>You can view test from here..</h1>
        <form action="/test" method="GET">
            <button type="submit" class="btn btn-success btn-lg">Attempt Test</button>
        </form>
    </div>
    
<%- include("partials/footer") %>