<%- include("partials/header") %>
<h3>Test Result for <%=testname%></h3>
<% if(result.length == 0){%>
    <h1>No one has given the test.</h1>
<%}%>
  <table>
    <tr>
      <th>Name</th>
      <th>Username</th>
      <th>Marks</th>
    </tr>
  <% for(var i=0; i<result.length ;i++){ %>
    <td>result[i][0]</td>
    <td>result[i][1]</td>
    <td>result[i][2]</td>
  <% } %>
</table>
<%- include("partials/footer") %>
