<%- include("partials/header") %>

<div class="row">
    <h1 style="text-align: center">Sign Up</h1>
    <div style="width: 30%; margin: 25px auto;">
<<<<<<< HEAD
        <form action="/candidates" method="POST">
=======
        <form action="/studentRegister" method="POST">
>>>>>>> 7897805478a409cf81b537cdc53df0e6e87161de
            <div class="form-group">
                <input class="form-control" type="text" name="candidate_name" placeholder="name" required>
            </div>
            <div class="form-group">
                <input class="form-control" type="text" name="institute" placeholder="Institute" required>
            </div>
            <div class="form-group">
<<<<<<< HEAD
                <input class="form-control" type="email" name="email" placeholder="Email" required>
            </div>
            <div class="form-group">
                <input class="form-control" type="url" name="LinkedIn url" placeholder="LinkedIn URL" required>
=======
                <input class="form-control" type="email" name="username" placeholder="Email" required>
            </div>
            <div class="form-group">
                <input class="form-control" type="url" name="linkedin" placeholder="LinkedIn URL" required>
>>>>>>> 7897805478a409cf81b537cdc53df0e6e87161de
            </div>   
            <div class="form-group">
                <input class="form-control" type="password" name="password" placeholder="password" required>
            </div>
            <div class="form-group">
                <button class="btn btn-lg btn-primary btn-block">Sign Up!</button>
            </div>
        </form>
        <a href="/">Go Back</a>
    </div>
</div>

<%- include("partials/footer") %>